.appContainer {
  width: 100%;
  border: 1px solid black;
  display: table; }

.filterPanelContainer {
  margin: 0px;
  width: 20%;
  float: left; }

.dashboardContainer {
  margin: 0px;
  float: right;
  width: 80%;
  border-left: 1px solid;
  box-sizing: border-box; }
