.flight_detail {
  border: 1px solid black;
    padding: 15px;
    margin: 10px;
    display: flex;
    justify-content: space-between;

  &--items{
    padding:15px;
    box-sizing: border-box;
    display: inline-block;

    &--info {
      font-size: 20px;

      &--amount{
        color: #e74040;
      }

      &--about{
        font-size: 15px;
        color: grey;
      }
    }

    &--button{
      border: 1px solid;
      border-radius: 5px;
      background: #e74040;
      color: white;
      padding: 10px;
      width: 100px;
    }
  }
}
